<div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">
    <h1>Welcome <%= current_user.name %> <%= current_user.surname %> (<%= current_user.email %>)</h1>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">    
        <div class="card" style="width:400px">
          <%= image_tag current_user.avatar_url, :height => 150, class: "card-img-top img-responsive", alt: current_user.name if current_user.avatar? %>
          <div class="card-body">
            <h4 class="card-title"><%= current_user.name %> <%= current_user.surname %></h4>
            <p class="card-text">Some example text.</p>
            <%= link_to 'Editar perfil', edit_user_registration_path(current_user), class: "btn btn-lg btn-primary" %>

            <% ruta = (albums_path if !current_user || current_user.albums.count != 1) || current_user.albums.first %>
            <div class="btn-group">
              <%= link_to 'albumes', ruta, class:'btn btn-lg btn-info' %>
              <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <% current_user.albums.each do |alb| %>
                  <%= link_to alb.name, alb, class: "dropdown-item"  %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to "Nuevo album", new_album_path, class: "dropdown-item"  %>
              </div>
            </div>

            <%= link_to 'Log Out', eval("destroy_#{current_user.type.downcase}_session_path"), method: :delete, class: "btn btn-lg btn-warning float-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
