<h1>Albumes</h1>

<div class="list-group">
  <table class="table table-striped">
    <tbody>
      <% @albums.each do |album| %>
          <tr>
            <td><%= link_to album.name, album, class: "list-group-item list-group-item-action" %></td>
            <td width="80px">
              <span class="badge badge-<%= ("secondary" if album.public == false) || "success" %>">
                <span class="glyphicon <%= ("glyphicon-minus-sign" if album.public == false) || "glyphicon-globe" %>"></span> <%= ("Privado" if album.public == false ) || "Público" %>
              </span>
              <br/><%= album.photos.count %> photos</td>
            <td width="20px"><%= link_to 'Editar', edit_album_path(album), class:'btn btn-lg btn-primary' %></td>
            <td width="20px"><%= link_to 'Eliminar', @album, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-lg btn-danger' %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nuevo', new_album_path, class:'btn btn-lg btn-info' %>

