<div class="container">

  <h1><%= @album.name %>
    <span class="badge badge-<%= ("secondary" if @album.public == false) || "success" %>">
      <span class="glyphicon <%= ("glyphicon-minus-sign" if @album.public == false) || "glyphicon-globe" %>"></span> <%= ("Privado" if @album.public == false ) || "Público" %>
    </span>
  </h1>

  <%= render "albums/links" %>

  <%= will_paginate(@photos, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center pagination-lg responsive',  :previous_label => "&#8249;", :next_label => "&#8250;") %>

        <div class="row">
          <% @photos.each do |photo| %>
          
            <div class="col-sm-4 col-md-6 col-lg-4">
              <div class="card-body">
                <h4 class="card-title"><%= photo.name %></h4>

                <%= link_to 'Editar', edit_photo_path(photo), class: "btn btn-primary" %>

                <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{root_url[0..-2]}#{photo.image.url}&title=#{photo.name}",  title: 'Compartir en Facebook', :class=>"btn btn-outline-primary btn-social btn-facebook" do %>
                  <span class="btn-facebook fa fa-facebook"></span>
                <% end %>
                
                <%= link_to "https://twitter.com/intent/tweet?url=#{root_url[0..-2]}#{photo.image.url}&text=#{photo.album.name}: #{photo.name}&source=#{root_url}",  title: 'Compartir en Twitter', :class=>"btn btn-outline-primary btn-social-icon btn-twitter" do %>
                  <span class="btn-twitter fa fa-twitter"></span>
                <% end %>
                
                <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{root_url[0..-2]}#{photo.image.url}&title=#{photo.name}&summary=#{photo.album.name}: #{photo.name}",  title: 'Compartir en LinkedIn', :class=>"btn btn-outline-primary btn-social-icon btn-linkedin" do %>
                  <span class="btn-linkedin fa fa-linkedin"></span>
                <% end %>

                <%= link_to "https://mail.google.com/mail/u/0/?view=cm&su=#{photo.album.name}: #{photo.name}&body=#{photo.album.name}: #{photo.name}%0D%0A%0D%0A#{root_url[0..-2]}#{photo.image.url}%0D%0A%0D%0AFrom #{root_url}",  title: 'Enviar desde Gmail', :class=>"btn btn-outline-primary btn-social-icon btn-google" do %>
                  <span class="btn-linkedin fa fa-google"></span>
                <% end %>

                <%= mail_to "", subject: "#{photo.album.name} - #{photo.name}", body: "#{photo.album.name} - #{photo.name}\r#{root_url[0..-2]}#{photo.image.url}\rFrom #{root_url}", title: 'Enviar por correo', :class=>"btn btn-outline-primary btn-social-icon btn-envelope" do %>
                  <span class="btn-envelope fa fa-envelope"></span>
                <% end %>

              </div>
              <%= link_to image_tag(photo.image.thumb.url, alt: photo.name, :class=>"card-img-top img-thumbnail"), photo %>
            </div>

          <% end %>
        </div>


</div>
